Template/Release/
*.sdf
*.user
Template/Template/imgui.ini
Template/Template/Debug/
Template/Debug/
Clicker/Clicker/Debug/
Clicker/Release/
Clicker/Clicker/Release/
Clicker/Clicker/Auto_Clicker.opensdf
Clicker/Clicker/imgui.ini
Clicker/Clicker/Auto_Clicker.v12.suo
